* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(40, 50, 60, 0.7)
}

@media screen and (min-width: 400px) {
  body {
    background-color: white;
  }
  main {
    width: 340px;
    margin: 50px auto;
    border: 1px solid white;
    overflow: hidden;
    background-color: rgba(40, 50, 60, 0.7)
  }
}

header {
  height: 30px;
  background-color: rgb(40, 50, 60);
  padding-top: 5px;
}

header span {
  font-family: Arial, Helvetica, sans-serif
}

header .menu {
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.display {
  width: 100%;
  height: 200px;
  background-color: rgb(40, 50, 60);
  overflow: hidden;
}

.display input {
  width: 100%;
  font-size: 60px;
  color: white;
  border: none;
  outline: none;
  background: transparent;
  text-align: right;
  margin: 120px 10px 0 0;
  padding-right: 30px;
}

keypad {
  width: 100%;
  background-color: white;
}

.keypad .num-cont {
  width: 100;
  margin-top: 40px;
}

.keypad .num-cont .numbers {
  float: left;
  margin-left: 11%; 
  border-radius: 50%;
  padding: 6px 12px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: cursive;
}

.numbers:active {
  background-color: lightgray;
}

.keypad .num-cont .control {
  color: rgb(120, 40, 80);
  font-family: Arial;
}

.cur-conv-cont {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  z-index: 20;
  top: 0;
  display: none
}
